<div class="container">
  <div class="jumbotron">
    {{#link-to 'index'}}<h1>Ask Me Anything</h1>{{/link-to}}
  </div>
  <nav class="nav">
    {{#link-to 'index' class="nav-link"}}Home{{/link-to}}
    <a href="https://github.com/txbluebee" class="nav-link" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/brian-fan-79460674/" class="nav-link" target="_blank">Linkedin</a>
  </nav>
  {{outlet}}
</div>
