
{{#each model as |question|}}
  <div class="question-content">
    <h3>{{question.author}}</h3>
    <p><b>Category:</b> {{question.category}}</p>
    <p><b>Question:</b> {{question.question}}</p>
    <!-- {{#link-to 'question' question.id}}Read More{{/link-to}} -->
  </div>
{{/each}}
