
{{new-question saveQuestion='saveQuestion'}}
{{#each model as |question|}}
  <div class="question-content">

    <h3><b>Question:</b> {{question.question}}</h3>
    <p>{{question.author}}</p>
  </div>
{{/each}}
