
{{new-question saveQuestion='saveQuestion'}}
{{#each model as |question|}}
  <div class="question-content">

    {{#link-to 'question' question.id}}<h3>{{question.content}}</h3>{{/link-to}}
    <p>{{question.author}}</p>
  </div>
{{/each}}
